<div class="container">
  <%= link_to "Patient", new_patient_path, class: "waves-effect btn-large deep-orange accent-3" %>
  <%= link_to "Driver", new_driver_path, class: "waves-effect btn-large deep-orange accent-3" %>
</div>
  
